body {
    margin: 0;
    padding: 0;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 98%;
    max-width: 1900px;
    min-height: 95vh;
    border: 1px solid red;
    border-radius: 5px;
    background-color: white;
}

.form-container select, input {
    color: grey;
}

h1 {
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 0px;
    font-family: 'Elms Sans', sans-serif;
}

p {
    margin: 0px;
    font-family: 'Elms Sans', sans-serif;
    font-size: 15px;
}

.separador {
    width: 90%;
    border: none;
    border-bottom: 1px solid grey;
}

.selectRol select {
    margin-top: 0px;
    margin-bottom: 20px;
    width: min(400px, 80vw);
    border: none;
    border-bottom: 1px solid red;
    font-size: 1rem;
    color: grey;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 75%;
    margin: 0;
    padding: 0;
}

form input {
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid red;
    font-size: 1rem;
    align-self: end;
}

form label {
    display: block;
    font-family: 'Elms Sans', sans-serif;
    color: grey;
    font-size: 0.8rem;
}

form select {
    height: 45px;
    line-height: 45px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    width: 100%;
    border-bottom: 1px solid red;
    font-size: 1rem;
}

#fecha {
    width: 100%;
    font-size: 1rem;
}

.password {
    grid-column: 1 / 3;
}

.btn-registrar {
    grid-column: 1 / 3;
    width: min(200px, 60%);
    justify-self: center;
    font-size: 1rem;
    font-family: 'Elms Sans', sans-serif;
    border: none;
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 40px;
    margin-bottom: 40px
}

.EsquinaIzq {
    position: absolute;
    width: 45%;
    top: 0;
    left: 0;
    z-index: -1000;
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s;
    background-color: #920000;
}

@media (max-width: 720px) {
    form {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .password,
    .btn-registrar {
        grid-column: 1 / 2;
        width: 100%;
    }

    .form-container {
        margin-top: 20px;
        padding-top: 10px;
        margin-bottom: 20px;
    }
}