body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

section {
    width: 100%;
}

.Encabezado-1,
.Encabezado-2 {
    box-shadow: 5px 3px 3px grey;
    background-color: rgb(218, 218, 218);
    width: 100%;
}

.contenedor-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: red;
    padding: 10px 25px 20px 20px;
    width: 29%;
    border-radius: 0 0 40px 0;
}

.logo {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: -10px;
    z-index: 2;
}

.nombre {
    background: white;
    padding: 6px 20px;
    margin-left: -5px;
    font-size: 14px;
    color: rgb(53, 53, 53);
    z-index: 1;
    border-radius: 0 0 15px 0;
    width: 90%;
}

.contenedor-2 {
    display: flex;
    margin: 0 auto;
    border: 1px solid grey;
    gap: 40px;
    margin-top: 20px;
    width: 98%;
    border-radius: 5px;
    margin-bottom: 70px;
    box-shadow: 5px 3px 3px grey;
}

.contenedor-3 {
    width: 98%;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    box-shadow: 5px 3px 3px grey;
    margin-bottom: 20px;
}

.qr-box img {
    width: 20%;
    margin-bottom: 20px;
}

.contenedor-2 .card {
    border: 1px solid grey;
    width: 80%;
    margin: 10px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-2 span {
    margin-bottom: 10px;
}

.contenedor-2 img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
}

.Ingresar {
    border-radius: 5px;
    font-family: 'Elms Sans', sans-serif;
    font-size: 1rem;
    border: none;
    background-color: #ff0000;
    color: white;
    margin-bottom: 10px;
}

.Cont-1,
.Cont-4 {
    margin-left: auto;
    margin-right: auto;
}


.Cont-1 {
    margin-left: 80px;
}

.Cont-4 {
    margin-right: 80px;
}

.separador {
    width: 96%;
    border: none;
    border-bottom: 1px solid grey;
}

.VOLVER {
    width: 30%;
    border-radius: 5px;
    font-family: 'Elms Sans', sans-serif;
    font-size: 1rem;
    border: none;
    background-color: #ff0000;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}

button {
    font-size: 1rem;
    padding: 5px;
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s;
    background-color: #920000
}

* {
    box-sizing: border-box;
}

@media (max-width: 768px) {

    body {
        overflow: scroll;
    }

    .contenedor-2 {
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        padding: 10px 0px;
    }

    .contenedor-2 div {
        width: 90%;
        margin: 10px 0;
    }

    .nombre {
        font-size: 12px;
        padding: 6px 10px;
    }

    .contenedor-1 {
        flex-wrap: nowrap;
        width: 100%;
        border-radius: 0px;
        gap: 10px;
    }

    .Encabezado-1,
    .Encabezado-2 {
        box-shadow: 0px 3px 3px grey;
        width: 100%;
    }

    .nombre {
        font-size: 1.3rem;
    }

    .contenedor-3 {
        box-shadow: none;
    }

}